<div class="personal_nav" th:fragment="personal_nav">
    <ul>
        <li><a href="personal_info.do">Personal Information</a></li>
        <li><a href="/publish_product.do">Post Product</a></li>
        <li><a href="/require_product.do">Seeking</a></li>
        <li><a href="/shopping_cart.do">My cart</a></li>
        <li><a href="/my_publish_product_page.do">Products I posted</a></li>
        <li><a href="/my_require_product_page.do">Products I sought</a></li>
        <li><a class="login_out" href="/logout.do">Logout</a></li>
    </ul>
</div>